<%- include('../partials/header'); %>

<main class="main" id="userFormMain">
    <div class="container">
        <form action="/api/user/create" class="form" method="POST">
            <h2>Create a user</h2>
            <div class="mb-3">
                <label for="fName" class="form-label text-capitalize">first name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="fName" 
                    value="" 
                    id="fName" 
                    required 
                />
            </div>
            <div class="mb-3">
                <label for="lName" class="form-label text-capitalize">last name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="lName" 
                    value="" 
                    id="lName" 
                    required 
                />
            </div>
            <div class="mb-3">
                <label for="mi" class="form-label text-capitalize">middle initial</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="mi" 
                    value="" 
                    id="mi"  
                />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label text-capitalize">email</label>
                <input 
                    type="email" 
                    class="form-control" 
                    name="email" 
                    value="" 
                    id="email" 
                    required 
                />
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label text-capitalize">phone</label>
                <input 
                    type="tel" 
                    class="form-control" 
                    name="phone" 
                    value="" 
                    id="phone" 
                    required 
                />
            </div>
            <div class="mb-3">
                <input type="submit" value="Create User" />
            </div>
        </form>
    </div>
</main>

<%- include('../partials/footer'); %>